<div class="panel panel-default">
  <div class="panel-heading">添加二级菜单</div>
  <div class="panel-body">
    <!-- BEGIN: childMenu add form -->
    <form class="form-inline">
      <div class="form-group">
        <label for="parentMenu">父菜单</label>
        <select class="form-control" id="parentMenu"></select>
      </div>
      <div class="form-group">
        <label for="childMenuName">菜单名</label>
        <input type="text" class="form-control" id="childMenuName" placeholder="二级菜单">
      </div>
      <div class="form-group">
        <label for="childMenuType">菜单类型</label>
        <select class="form-control" id="childMenuType">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
    <!-- End: childMenu add form -->
   </div>
</div>