<div class="row">
<div class="col-md-4">
    <div class="dropup">
          <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h3>测试菜单</h3>
          </div>
          <ul class="dropdown-menu wx-dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#">一</a></li>
            <li><a href="#">一二</a></li>
            <li><a href="#">一二三</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">一二三四</a></li>
          </ul>
    </div>
</div>
<div class="col-md-4">
    <!-- 3col menu-->
    <div class="dropup" >
          <div class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h3>测试菜单</h3>
          </div>
          <ul class="dropdown-menu wx-dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
    </div>
    <!-- 3col menu-->
</div>
<div class="col-md-4">
    <!-- 3col menu-->
    <div class="dropup" >
          <div class="dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h3>测试菜单</h3>
          </div>
          <ul class="dropdown-menu wx-dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#">一二三四五六七</a></li>
            <li><a href="#">一二三四五六七</a></li>
            <li><a href="#">一二三四五六七</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">一二三四五六七</a></li>
          </ul>
    </div>
    <!-- 3col menu-->
</div>
</div>