<div class="panel panel-default">
  <div class="panel-heading">添加一级菜单</div>
  <div class="panel-body">
    <!-- BEGIN: topMenu add form -->
    <form class="form-inline">
      <div class="form-group">
        <label for="topMenuType">菜单类型</label>
        <select class="form-control" id="topMenuType">
          <option>父菜单</option>
          <option>跳转到URL</option>
          <option>跳转到图文消息</option>
          <option>触发点击推送</option>
          <option>触发扫码推送</option>
          <option>触发系统拍照</option>
          <option>触发系统拍照或相册</option>
          <option>触发微信相册</option>
          <option>触发地理位置选择</option>
          <option>下发多媒体资源</option>
        </select>
      </div>
      <div class="form-group">
        <label for="topMenuName">菜单名</label>
        <input type="text" class="form-control" id="topMenuName" placeholder="一级菜单">
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
    <!-- End: topMenu add form -->
  </div>
</div>
