<xml>
<ToUserName><![CDATA[{{ msg.to_user }}]]></ToUserName>
<FromUserName><![CDATA[{{ msg.from_user }}]]></FromUserName>
<CreateTime>{{ msg.create_time }}</CreateTime>
<MsgType><![CDATA[{{ msg.type}}]]></MsgType>
<Image>
<MediaId><![CDATA[{{ msg.media_id }}]]></MediaId>
</Image>
</xml>