{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="ryan.fan">
    <title>{% block mytitle %}{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block mycss %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{% static 'core/js/html5shiv.js' %}"></script>
    <script src="{% static 'core/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
    {% block content %}{% endblock %}
    <!-- jQuery -->
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'core/js/ajax.js' %}"></script>
    <!-- customized javascript -->
    {% block myjs %}{% endblock %}

</body>
</html>