<li class="sidebar-brand">
    <a href="#"><span class="glyphicon glyphicon-th-list"></span> Overview </a>
</li>
<li>
    <a href="/contrib/admin/dashboard/">Dashboard</a>
</li>
<li>
    <a href="/contrib/admin/config">Configuration</a>
</li>
<li>
    <a href="/contrib/admin/test">Menu</a>
</li>
<li>
    <a href="/contrib/admin/plugin">Plugin</a>
    <ul>
    {% for p in plugin_list %}
        {% if p.enabled %}
        <li><a href="config/{{ p.uuid }}/">{{ p.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</li>
<li>
    <a href="/contrib/admin/about">About</a>
</li>
