{% extends "apps/member/base.html" %}

{% block content %}
<div class="weui-flex">
    <div class="weui-flex__item"></div>
    <div class="weui-flex__item">
        <div class="placeholder">
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div id="app" class="weui-cell__bd">
                        [[ message ]]
                    </div>
                    <div class="weui-cell__ft"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-flex__item"></div>
</div>
{% endblock %}

{% block myjs %}
<script src="//cdn.bootcss.com/vue/2.0.6/vue.min.js"></script>
<script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    });
</script>
{% endblock %}
