<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{% block title %}{% endblock %}</title>
    <!-- weui css library -->
    <link href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css" rel="stylesheet">
    {% block mycss %}{% endblock %}
</head>
<body>
<div class="container-fluid" style="background-color: #f6f6f6">
    {% block content %}{% endblock %}
</div>


{% block myjs %}{% endblock %}
</body>
</html>